.choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EDEFF6;
}
.choose-title {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.choose-title > h2 {
    text-align: center;
    font-size: 40px;
}
.choose-title > p {
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #889099;
    max-width: 700px;
}
.choose-menu {
    display: flex;
    margin-top: 90px;
    margin-bottom: 100px;
}
.choose-menu > div {
    width: 300px;
}
.choose-icon {
    height: 78px;
}
.menu-title {
    font-style: normal;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.menu-desc {
    color: #889099;
    font-size: 16px;
    line-height: 24px;
}
.read-more {
    color: #4A60A1;
    font-size: 14px;
    line-height: 24px;
}
.read-more:hover {
    color: #6d8be5;
}
.menu-div{
    padding-left: 1.3rem;
    padding-top: 0.5rem;
    border-radius: 4px;
    transition: 0.5s;
}
.menu-div:hover {
    background-color: white;
    cursor: pointer;
}