.latest {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latest-title {
    text-align: center;
}
.latest-title > h2 {
    font-size: 40px;
}
.latest-title > p {
    font-size: 20px;
    color: #889099;
}
.latest-menu {
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 300px 300px 300px;
    gap: 1.1rem;
    margin-bottom: 100px;
}
.latest-content-div {
    box-shadow: 0px 25px 72px rgba(59, 77, 129, 0.08);
    border-radius: 6px;
    position: relative;
}
.latest-content-div > h4 {
    margin-left: 16px;
    transition: 0.3s;
}
.latest-content-div > h4:hover {
    cursor: pointer;
    opacity: 60%;
}
.content-img {
    height: 200px;
    width: 300px;
    transition: 0.3s;
}
.content-img:hover {
    cursor: pointer;
    opacity: 80%;
}
.details-div {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-bottom: auto;
}
.details-div > p {
    margin-right: 16px;
    margin-left: 6px;
    color: #6D737A;
    font-size: 15px;
    margin-top: 18px;
}
.seller-div {
    display: flex;
    align-items: center;
    border-top: 1px solid #c3c4c5;
    margin-left: 16px;
    padding-top: 9px;
}
.seller-div > img {
    height: 30px;
    margin-right: 9px;
    border-radius: 2px;
}
.seller-div > p {
    margin: 0;
    margin-right: auto;
}
.latest-price {
    margin: 0;
    font-weight: 600;
    font-size: 17px;
    color: #4A60A1;
    margin-left: 16px;
}
.seller-profile-pic {
    transition: 0.3s;
}
.seller-profile-pic:hover {
    cursor: pointer;
    opacity: 60%;
}
.seller-icon {
    max-height: 20px;
    transition: 0.3s;
    background: #EDEFF6;
}
.seller-icon:hover {
    cursor: pointer;
    background-color: #c1ccd7;
}